
.icon-block {
  padding: 0 15px;
}

#header, #body, #footer {
    padding-left: 240px;
  }

  @media only screen and (max-width : 992px) {
    #header, #body, #footer {
      padding-left: 0;
    }
  }