@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="ManageProfilePage">
    <div class="row">
        <div class="col s12 m8 l7 offset-m2">
            <div class="card">
                <div class="card-content">
                    <h3>
                        <span class="card-title bold black-text">User Details</span>
                    </h3>
                    <form class="col s12">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix"></i>
                            <input id="username" type="text" class="validate" data-bind="value: UserName" disabled="disabled">
                            <label for="username">User Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-image-portrait prefix"></i>
                            <input id="fullname" type="text" class="validate" data-bind="value: FullName" disabled="disabled">
                            <label for="fullname">Full Name</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-communication-email prefix"></i>
                            <input id="email" type="email" class="validate" data-bind="value: Email" disabled="disabled">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-phone prefix"></i>
                            <input id="phonenumber" type="text" class="validate" data-bind="value: PhoneNumber" disabled="disabled">
                            <label for="phonenumber">Phone Number</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-editor-insert-invitation prefix"></i>
                            <input id="dob" type="email" class="validate" data-bind="value: DateOfBirth" disabled="disabled">
                            <label for="dob">Date of Birth</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-action-dns prefix"></i>
                            <input id="roles" type="text" class="validate" data-bind="value: Roles" >
                            <label for="roles">Role(s)</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s12 m8 l5 offset-m2">
            <div class="card">
                <div class="card-content">
                    <div class="progress" data-bind="visible: showProgress">
                        <div class="indeterminate">
                        </div>
                    </div>
                    <h3>
                        <span class="card-title bold black-text">Change Password</span>
                    </h3>                    
                    <form class="col s12">
                        <div class="input-field col s12">
                            <i class="mdi-action-lock-open prefix"></i>
                            <input id="oldpassword" type="password" class="validate" data-bind="value: OPassword">
                            <label for="oldpassword">Old Password</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-action-lock-open prefix"></i>
                            <input id="newpassword" type="password" class="validate" data-bind="value: NPassword">
                            <label for="newpassword">New Password</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-action-lock-open prefix"></i>
                            <input id="cpassword" type="password" class="validate" data-bind="value: CPassword">
                            <label for="cpassword">Confirmm Password</label>
                        </div>

                        <div class="input-field col s12">
                            <div class="divider"></div>
                        </div>
                        <div class="input-field col s12">
                            <button class="right green btn waves-effect waves-light" data-bind="click: change">
                                Change
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/app/manageprofile.js"></script>