<footer class="page-footer light-blue darken-3">
    <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
</footer>
